nav{
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: space-evenly;
    
    
}
nav > div{
    display: inline;
    margin: 10px;
}
input{
    width: 900px;
    height: 40px;
    border-radius: 25px;
}
p{
    text-align: center;
    font-size: medium;
}
i{
    margin: 10px;
}

div{
    justify-content: center;
    margin: 10px 0px
}


.img{
    display: flex;
    
}
div > img{
    border-radius: 50px;
    margin: 30px; 
    padding: 0px auto;
}
div > p{
    margin: 0px;
    padding: 0px;   
}

.parent{
    text-align: center;
    font-size: 30px;
}



.parent1{
    display: flex;
}
.box1{
    height: 250px;
    width: 150px;
    border: 5px solid white;
    margin-left: 60px;
    text-align: center;
    
    
}
.box1:hover{
    transition: 1sec;
    scale: 1.1;
}
.img_box{
height: 200px;
width: 100%;
border-radius: 20px;

}
.parent2{
    display: flex;
}
.box2{
    margin-top: 30px;
    height: 250px;
    width: 150px;
    border: 5px solid white;
    margin-left: 60px;
    text-align: center;
    /* padding: 60px 60px; */
    
}
.box2:hover{
    transition: 1sec;
    scale: 1.1;
}
.img_box{
height: 200px;
width: 100%;
border-radius: 20px;

}
